@use '../utils' as u;
@use '../general' as g;

.creations {
    max-width: u.rem(1110);
    margin-inline: auto;
    margin-bottom: u.rem(130);
    padding-inline: u.rem(30);

    @include u.breakpoints-up("large") {
        margin-bottom: u.rem(180);
    }

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: u.rem(60);

        @include u.breakpoints-up("medium") {
            justify-content: space-between;
            align-items: center;
            margin-bottom: u.rem(84);
        }

        h3 {
            font-family: g.$font-josefin;
            font-size: u.rem(38);
            font-weight: normal;
            text-transform: uppercase;

            @include u.breakpoints-up("large") {
                font-size: u.rem(46);
            }
        }

        button {
            display: none;
            width: u.rem(150);
            padding: u.rem(10) u.rem(20);
            font-family: g.$font-alata;
            font-size: u.rem(15);
            text-transform: uppercase;
            letter-spacing: u.rem(3);
            color: g.$black;
            background-color: g.$white;
            border: solid 2px g.$black;
            transition: background 250ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: g.$black;
                color: g.$white;
            }

            @include u.breakpoints-up("medium") {
                display: inline-block;
            }
        }
    }

    // CARDS LIST CONTAINER
    &__list {
        margin-bottom: u.rem(44);
        display: grid;
        list-style: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, u.rem(154));
        grid-gap: u.rem(30);

        @include u.breakpoints-up("medium") {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, u.rem(154));
        }

        @include u.breakpoints-up("large") {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, u.rem(450));
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: end;
            background-position: center;
            background-size: cover;
        }

        // IMAGE BACKGROUNDS FOR CARDS
        li.earth {
            background-image: g.$img-gradient, url('/images/mobile/image-deep-earth.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-deep-earth.jpg');
            }
        }

        li.arcade {
            background-image: g.$img-gradient, url('/images/mobile/image-night-arcade.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-night-arcade.jpg');
            }
        }

        li.soccer {
            background-image: g.$img-gradient, url('/images/mobile/image-soccer-team.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-soccer-team.jpg');
            }
        }

        li.grid {
            background-image: g.$img-gradient, url('/images/mobile/image-grid.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-grid.jpg');
            }
        }

        li.above {
            background-image: g.$img-gradient, url('/images/mobile/image-from-above.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-from-above.jpg');
            }
        }

        li.pocket {
            background-image: g.$img-gradient, url('/images/mobile/image-pocket-borealis.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-pocket-borealis.jpg');
            }
        }

        li.curiosity {
            background-image: g.$img-gradient, url('/images/mobile/image-curiosity.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-curiosity.jpg');
            }
        }

        li.fisheye {
            background-image: g.$img-gradient, url('/images/mobile/image-fisheye.jpg');

            @include u.breakpoints-up("large") {
                background-image: g.$img-gradient-desktop, url('/images/desktop/image-fisheye.jpg');
            }
        }

        a {
            display: flex;
            align-items: end;
            width: 60%;
            height: 100%;
            padding: u.rem(30);
            font-family: g.$font-josefin;
            font-size: u.rem(24);
            text-transform: uppercase;
            text-decoration: none;
            color: g.$white;
            background-color: transparent;
            transition: all 250ms ease-in-out;

            @include u.breakpoints-up("large") {
                font-size: u.rem(34);
                width: 100%;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                    color: g.$black;
                }
            }
        }
    }

    &__more {
        display: block;
        width: u.rem(150);
        padding: u.rem(10) u.rem(20);
        margin-inline: auto;
        font-family: g.$font-alata;
        font-size: u.rem(15);
        text-transform: uppercase;
        letter-spacing: u.rem(3);
        color: g.$black;
        background-color: g.$white;
        border: solid 2px g.$black;
        transition: background 250ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: g.$black;
            color: g.$white;
        }

        @include u.breakpoints-up("medium") {
            display: none;
        }
    }
}