$dark-gray: hsl(0, 0%, 55%);
$darker-gray: hsl(0, 0%, 41%);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

// gradients
$img-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.5), 30%, rgba(0, 0, 0, 0));
$img-gradient-desktop: linear-gradient(to top, rgba(0, 0, 0, 0.7), 30%, rgba(0, 0, 0, 0));